* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 2px 2px 2px black;
}

nav .logo {
    width: 25%;
    text-align: center;
}

nav .logo a {
    text-decoration: none;
    color: white;
}

nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

form {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 50px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

input {
    display: flex;
    align-items: center;
    text-align: center;
    

    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border: 2px solid black;
    background: rgba(0,0,0,0.2);
    color: white;
}

button {
    width: 350px;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
}

::placeholder {
    color: white;
}

