* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(../images/back.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}

.parent3 {
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   color: white;
   text-shadow: 2px 2px 2px black;
}


.child3 {
  width: 350px;
  margin: 35px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.child3-img {
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.child3-subtitle {
  padding: 8px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
}


nav {
    width: 100%;
    height: 15vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    width: 25%;
    text-align: center;
}

nav .logo a  {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}


nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    border: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}